/* Paramètres généraux */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
}

html {
    --var-bg-color: #d8d8d8;
    --var-bleu: #30589d;
    --var-jaune: #e2df0a;
    --var-text-color: #1c1c1c;
    --var-text-color-hover: #000000;
    --var-gris: #2c2c2c;
    --var-gris-clair: #919191;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    color: var(--var-text-color);
}



/* Header */

#header {
    height: 5rem;
    background-color: var(--var-bg-color);
    padding: 0 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

#header #nav-items {
    display: flex;
    text-align: right;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/*.nav-items {
    display: flex;
    gap: 10px;
    align-items: center;
}*/

.nav-items ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items li a {
    text-decoration: none;
    color: #333;
}

.logo-header {
    height: 5rem;
    width: auto;
    object-fit: contain;
    text-align: center;
}

#header h2 {
    text-align: center;
}

#nav-items ul li a:hover {
    color: var(--var-text-color-hover);
    font-weight: 700;
}

#panneau {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#nav-items button {
    background-color: var(--var-jaune);
    color: var(--var-text-color);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    gap: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

#header #nav-items button:hover {
    background-color: var(--var-bg-color);
    color: var(--var-text-color-hover);
    border: 1.5px solid var(--var-jaune);
}



/* Main */

main {
    padding: 2rem;
}



/* Sur index => bloc d'intro */

#intro {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
}

#intro h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
}

#intro h3 {
    padding-bottom: 2rem;
}

#intro button {
    background-color: var(--var-jaune);
    color: var(--var-text-color);
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

#intro .boutons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1.5rem;
}

#intro button:hover {
    background-color: var(--var-bg-color);
    color: var(--var-text-color-hover);
    border: 1px solid var(--var-jaune);
}



/* Sur index => bloc chercher service */

#chercher_service {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    border-radius: 0.7rem;
    margin-top: 2rem;
}

#chercher_service h3 {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

#chercher_service #grp_chercher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

#chercher_service #grp_chercher #intro_chercher {
    flex: 1;
    flex-basis: 65%;
}

#chercher_service #grp_chercher #img_chercher {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-basis: 35%;
}

#chercher_service #grp_chercher #img_chercher img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}



/* Sur index => bloc proposer service */

#proposer_service {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    border-radius: 0.7rem;
    margin-top: 2rem;
}

#proposer_service h3 {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

#proposer_service #grp_proposer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

#proposer_service #grp_proposer #img_proposer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-basis: 35%;
}

#proposer_service #grp_proposer #img_proposer img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

#proposer_service #grp_proposer #intro_proposer {
    flex: 1;
    flex-basis: 65%;
}



/* Sur à propos => bloc d'intro */

#menu_apropos {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    padding: 2rem;
}

#menu_apropos h3 {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

#menu_apropos button {
    background-color: var(--var-jaune);
    color: var(--var-text-color);
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
}

#menu_apropos #boutons_apropos {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

#menu_apropos button:hover {
    background-color: var(--var-bg-color);
    color: var(--var-text-color-hover);
    border: 1px solid var(--var-jaune);
}

#presentation {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

#presentation p {
    margin-top: 0.5rem;
}

#nous {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

#nous p {
    margin-top: 0.5rem;
}

#objectifs {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

#objectifs h3 {
    margin-bottom: 0.5rem;
}

#objectifs #x {
    margin-bottom: 1.25rem;
}

#objectifs #xx {
    margin-top: 1.25rem;
}

#objectifs ul {
    list-style-position: inside;
}

#autres {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

#autres h3 {
    margin-bottom: 0.5rem;
}

#bloc_apropos {
    width: 100%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

#bloc_apropos h2 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

#bloc_apropos #sous_bloc {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

#sous_bloc #formulaire {
    width: 60%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border: 4px solid var(--var-jaune);
    border-radius: 1rem;
}

#formulaire form #nom {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    justify-content: center;
}

#formulaire form #nom #name {
    width: 8rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--var-text-color-hover);
    padding: 0.5rem;
}

#formulaire form #mail {
    margin-top: 1.75rem;
    text-align: center;
    display: grid;
    justify-content: center;
}

#formulaire form #mail #email {
    width: 14rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--var-text-color-hover);
    padding: 0.5rem;
}

#formulaire form #message {
    margin-top: 1.75rem;
    text-align: center;
    display: grid;
    justify-content: center;
}

#formulaire form #message #msg {
    width: 19rem;
    height: 6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--var-text-color-hover);
    padding: 0.5rem;
}

#formulaire form #envoyer button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--var-jaune);
    color: var(--var-text-color);
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
}

#formulaire form #envoyer button:hover {
    background-color: var(--var-bg-color);
    color: var(--var-text-color-hover);
    border: 1px solid var(--var-jaune);
}

#sous_bloc #fiche_contact {
    width: 40%;
    height: auto;
    background-color: var(--var-bleu);
    text-align: center;
    border-radius: 0.7rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border: 4px solid var(--var-jaune);
    border-radius: 1rem;
}

#fiche_contact h3 {
    margin-bottom: 2rem;
}

#formulaire form #accepter_politique {
    margin-top: 1.75rem;
    text-align: center;
    display: grid;
    justify-content: center;
}

#formulaire form #accepter_politique #politique {
    border-radius: 0.7rem;
    transform: scale(1.5); 
    transform-origin: center;
}

#politique_de_confidentialite {
    width: 100%;
    height: auto;
    border: 4px solid var(--var-text-color-hover);
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
}

#politique_de_confidentialite #intro_politique {
    margin-bottom: 5rem;
}

#politique_de_confidentialite #données h4 {
    margin-bottom: 1.5rem;
}

#politique_de_confidentialite #donnees h3 {
    margin-bottom: 2rem;
}

#politique_de_confidentialite #donnees #fhhjf {
    margin-top: 1.5rem;
}

#politique_de_confidentialite #donnees ul {
    list-style-position: inside;
}

#politique_de_confidentialite #conservation h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

footer {
    background-color: var(--var-gris-clair);
    padding: 2rem;
}

footer p {
    margin-bottom: 2rem;
}

footer a {
    color: var(--var-text-color-hover);
    display: flex;
}

#barre_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: var(--var-gris-clair);
    display: block;
    padding: 1rem;
}

#barre_nav ul {
    list-style: none;
}

#barre_nav a {
    color: var(--var-text-color-hover);
    font-size: 15px;
}

#barre_nav ul li a {
    text-decoration: none;
    position: relative;
}

#barre_nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s ease-out;
}

#barre_nav ul li {
    margin-bottom: 1rem;
}

#barre_nav ul li a:hover::after {
    width: 100%;
}

#contenu {
    width: 85%;
    margin-left: 15%;
    height: auto;
    padding: 2rem;
}

#contenu h1 {
    text-align: center;
    margin-top: 3rem;
}

#contenu #donnees ul li {
    list-style-position: inside;
}

#responsable {
    margin-top: 6rem;
}

#responsable h3 {
    margin-bottom: 1rem;
}

#donnees {
    margin-top: 4rem;
}

#donnees h3 {
    margin-bottom: 1rem;
}

#finalite {
    margin-top: 4rem;
}

#finalite h3 {
    margin-bottom: 1rem;
}

#finalite ul li {
    list-style-position: inside;
}

#banque {
    margin-top: 4rem;
}

#banque h3 {
    margin-bottom: 1rem;
}

#traitement {
    margin-top: 4rem;
}

#traitement h3 {
    margin-bottom: 1rem;
}

#conservation {
    margin-top: 4rem;
}

#conservation h3 {
    margin-bottom: 1rem;
}

#partage {
    margin-top: 4rem;
}

#partage h3 {
    margin-bottom: 1rem;
}

#partage ul li {
    list-style-position: inside;
}

#transfert {
    margin-top: 4rem;
}

#transfert h3 {
    margin-bottom: 1rem;
}

#securite {
    margin-top: 4rem;
}

#securite h3 {
    margin-bottom: 1rem;
}

#securite ul li {
    list-style-position: inside;
}

#droits {
    margin-top: 4rem;
}

#droits h3 {
    margin-bottom: 1rem;
}

#droits ul li {
    list-style-position: inside;
}

@media screen and (max-width: 700px) {
    .menu-toggle {
        display: block;
        position: fixed;
        right: 2rem;
        /*cursor: pointer;
        background-color: #333;
        color: white;
        padding: 10px;
        border-radius: 5px;*/
    }

    #nav-items {
        z-index: 1;
    }

    #panneau {
        z-index: 1100;
    }

    .nav-items {
       position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0.5rem;
        background-color: var(--var-gris-clair);
        padding-top: 1rem;
        overflow: auto;
        transform: translateY(-100%);
        transition: transform 0.3s ease; 
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        z-index: 500; 
    }

    .nav-items ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-items button {
        width: 100%;
        background-color: var(--var-jaune);
        color: var(--var-text-color);
        border: none;
        padding: 0.7rem 1rem;
        border-radius: 0.6rem;
        gap: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s;
    }

    .nav-items.show {
        display: flex;
        transform: translateY(0%);
        opacity: 1;
        pointer-events: auto;
        z-index: 1200;
    }

    #intro {
        padding: 1rem;
    }

    #intro .boutons {
        margin-top: 0rem;
    }

    #chercher_service {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        background-color: var(--var-bleu);
        border-radius: 0.7rem;
        margin-top: 2rem;
    }

    #chercher_service h3 {
        text-align: center;
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    #chercher_service #grp_chercher {
        flex-direction: column;
    }

    #proposer_service {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        background-color: var(--var-bleu);
        border-radius: 0.7rem;
        margin-top: 2rem;
    }

    #proposer_service h3 {
        text-align: center;
        padding-bottom: 1.5rem;
        padding-top: 1rem;
    }

    #proposer_service #grp_proposer {
        flex-direction: column-reverse;
    }

    #bloc_apropos {
        padding: 0.5rem;
    }

    #bloc_apropos #sous_bloc {
        flex-direction: column;
    }

    #sous_bloc #formulaire {
        width: 100%;
    }

    #formulaire form #message #msg{
        width: 14rem;
        height: auto;
    }

    #sous_bloc #fiche_contact {
        width: 100%;
    }

    #menu_apropos #boutons_apropos {
        flex-direction: column;
    }

    #barre_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 35%;
        max-width: 250px;
        background-color: var(--var-gris);
        overflow: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        padding: 1rem;
        box-sizing: border-box;
        z-index: 1000;
        padding-top: 25px;
    }

    #barre_nav ul {
        margin-top: 35px;
    }

    #barre_nav.active {
        transform: translateX(0);
    }

    #toggleBtn {
        position: fixed;
        top: 20px;
        left: 10px;
        z-index: 1100;
        background-color: var(--var-gris);
        color: var(--var-bg-color);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    #contenu {
        width: 100%;
        height: auto;
        padding: 2rem;
        margin-left: 0;
    }
}